In [32]:
import pandas as pd

dataset_dist_capital = pd.read_csv('distCapitais.csv')

dataset_conex_capital = pd.read_csv('conexCapitais.csv')

In [33]:
dataset_dist_capital.head(10)

,Unnamed: 0,Aracaju,Belém,Belo Horizonte,Boa Vista,Brasília,Campo Grande,Cuiabá,Curitiba,Florianópolis,...,Porto Alegre,Porto Velho,Recife,Rio Branco,R. Janeiro,Salvador,São Luis,São Paulo,Teresina,Vitória
0,Aracaju,0,1641,1248,3022,1292,2155,2121,2061,2207,...,2580,2946,398,3359,1482,277,1226,1731,903,1102
1,Belém,2079,0,2111,1432,1592,2212,1778,2665,2904,...,3188,1886,1676,2333,2450,1687,481,2463,750,2275
2,B. Horizonte,1578,2824,0,3117,624,1118,1372,820,973,...,1341,2477,1639,2786,339,964,1932,489,1652,378
3,Boa Vista,6000,6083,4736,0,2496,2667,2107,3370,3620,...,3785,1335,3103,1626,3428,3009,1913,3300,2169,3394
4,Brasília,1652,2120,716,4275,0,878,873,1081,1314,...,1619,1900,1657,2246,933,1060,1524,873,1313,947
5,C. Grande,2765,2942,1453,3836,1134,0,559,780,1007,...,1119,1634,2530,1827,1212,1905,2284,894,2132,1490
6,Cuiabá,2775,2941,1594,3142,1133,694,0,1302,1543,...,1679,1137,2452,1414,1575,1915,1942,1326,1862,1745
7,Curitiba,2595,3193,1004,4821,1366,991,1679,0,251,...,546,2412,2459,2601,675,1784,2599,338,2362,1076
8,Florianópolis,2892,3500,1301,5128,1673,1298,1986,300,0,...,376,2641,2603,2809,748,1930,2821,489,2573,1160
9,Fortaleza,1183,1610,2528,6548,2200,3407,3406,3541,3838,...,3213,2855,629,3300,2190,1028,652,2368,495,1855

In [34]:
dataset_conex_capital.head(10)

,Unnamed: 0,Aracaju,Belém,Belo Horizonte,Boa Vista,Brasília,Campo Grande,Cuiabá,Curitiba,Florianópolis,...,Porto Alegre,Porto Velho,Recife,Rio Branco,R. Janeiro,Salvador,São Luis,São Paulo,Teresina,Vitória
0,Aracaju,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,Belém,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,B. Horizonte,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
3,Boa Vista,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brasília,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
5,C. Grande,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
6,Cuiabá,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Curitiba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
8,Florianópolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Fortaleza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN

In [48]:
capital_labels = dataset_dist_capital.iloc[:, 0:1].values

In [49]:
print(capital_labels)

[['Aracaju']
 ['Belém']
 ['B. Horizonte']
 ['Boa Vista']
 ['Brasília']
 ['C. Grande']
 ['Cuiabá']
 ['Curitiba']
 ['Florianópolis']
 ['Fortaleza']
 ['Goiânia']
 ['João Pessoa']
 ['Macapá']
 ['Maceió']
 ['Manaus']
 ['Natal']
 ['Palmas']
 ['Porto Alegre']
 ['Porto Velho']
 ['Recife']
 ['Rio Branco']
 ['R. Janeiro']
 ['Salvador']
 ['São Luis']
 ['São Paulo']
 ['Teresina']
 ['Vitória']]

In [50]:
for ind in dataset_dist_capital.index: 
    print(str(capital_labels[ind]))
     # print(dataset_dist_capital[capital_labels[ind]][ind])

['Aracaju']
['Belém']
['B. Horizonte']
['Boa Vista']
['Brasília']
['C. Grande']
['Cuiabá']
['Curitiba']
['Florianópolis']
['Fortaleza']
['Goiânia']
['João Pessoa']
['Macapá']
['Maceió']
['Manaus']
['Natal']
['Palmas']
['Porto Alegre']
['Porto Velho']
['Recife']
['Rio Branco']
['R. Janeiro']
['Salvador']
['São Luis']
['São Paulo']
['Teresina']
['Vitória']

In [52]:
str(capital_labels[0]) + str(capital_labels[1])

"['Aracaju']['Belém']"